*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.div1{
	height:100px;
    background-color:black;
	color:white;
}
.img1{
	margin-top:25px;
    margin-left:100px;
	position:absolute;
}
.div2{
	position:absolute;
	margin-left:1362px;
	line-height:100px;
}
	